body {
    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(77, 166, 255, 0.4) 5px 5px, rgba(153, 204, 255, 0.3) 10px 10px;
    background-color:  #0080ff;
    color: #ffffff;
    font-size: 14px;
}

button:disabled {
    box-shadow: none;
    background-color: #e6f2ff;
}

button:hover:disabled {
    transform: none;
}

button.rainbow-mode {
    background-color:  #ff0000;
    box-shadow: rgb(255, 153, 0) 5px 5px, rgba(253, 228, 2, 0.767) 7px 7px, rgba(0, 255, 34, 0.689) 9px 9px, rgba(42, 162, 237, 0.788) 11px 11px, rgba(166, 0, 255, 0.513) 13px 13px;
}

.header {
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 30px;
}

.grid-and-controls {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

.placeholder-div {
    margin-left: auto;
}

.grid-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.grid-size-controls,
.grid-color-controls,
.grid-mod {
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
}

.input-rejection {
    color: red;
    font-size: 15px;
    font-weight: 700;
}

.grid-size-change,
.grid-size-input,
.activate-grid-size {
    width: 200px;
    height: 50px;
    margin: 10px;
}

/* input:focus::placeholder {
    color: transparent;
} */

.grid-size-change {
    transition: 100ms;
}

.grid-size-input {
    height: 25px;
    width:  192px;
}

.activate-grid-size {
    height: 25px;
    transition: 100ms;
}

.rainbow-mode {
    width: 200px;
    height: 50px;
    margin: 10px 10px 20px 10px;
    transition: 100ms;
}

.select-color {
    text-decoration: underline;
    margin: 0;
    font-size: 1.0rem;
}

.color-picker-mode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.color-picker {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

.grid-mod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.clear, 
.reset {
    width: 100px;
    height: 30px;
}

.container {
    flex: 3;
}

.grid-holder {
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-block {
    border: 1px solid black;
    transition: ease 4s all;
}

.grid-block:hover {
    transition: ease 0.0001s all;
    
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

input.color-picker:hover {
    transform: scale(1.05);
}

input.color-picker:active {
    transform: scale(0.95);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
    gap: 20px;
    background-color: #cccccc;
}

.icon-and-year {
    display: flex;
    align-items: center;
    gap: 5px;
}

.github-link {
    color: inherit;
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}